body{
    align-items: center;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#title{
    font-size: 48px;
}
#div{
    display: flex;
    align-items: center; 
    justify-content: center; 
}
#main{
    margin-top: 30px;
}
#submit{
    width: 100px;;
    height: 30px;
}
#input-msg{
    resize: none;
    width: 200px;
    height: 40px;
}
#label{
    font-size: 30px;
    margin-right: 10px;
}
#input-msg{
    font-size: 24px;
    width: 250px;
}
#submit{
    margin-top: 40px;
    font-size: 24px;
    height: 40px;
    width: 120px;
}
#result{
    font-size: 32px;
}